#!/usr/bin/env python
# -*- coding:utf-8 -*-

dev_token = ""
notedir = 'notes'
noteStoreUrl = 'https://app.yinxiang.com/shard/s4/notestore'

LOG_NAME = 'linote'
BASIC_LOG_PATH = './log/'
LOG_FILENAME = 'linote'
